@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff");
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: SourceSansPro;
  src: url("../fonts/SourceSansPro-Light.woff");
  src: url("../fonts/SourceSansPro-Light.woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: BigJohn;
  src: url("../fonts/BigJohn.woff");
  src: url("../fonts/BigJohn.woff2");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
