.service-block {
  background: #f3f3f3;
}
.service__content_wrapper {
  display: flex;
  flex-direction: column;
}
.service__content {
  display: flex;
  flex-direction: row;

  margin: auto;
  justify-content: center;

}

.service__text-content {
  display: flex;
  flex-direction: row;
  margin-left: 50px;

}
.service__text{
  font-family: OpenSans, serif;
  color: #81868e;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.service__icons-wrapper {
  display: flex;
  flex-direction: column;

}
.service__icon {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 17px;
}
.service__icon:nth-child(4) {

}

.service__stat{
  display: flex;
  flex-direction: row;

}
.stat__item {
  text-align: center;
  margin: auto;
}

//progress bar start

#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 3s linear;
  stroke: #047378;
  stroke-width: 4px;

}
#svg .bar {
  stroke-width: 8px;
  stroke: #19bd9a;

  transition: all 2s ease-out;
}

#svg .bar.bar-1 {
  stroke-dashoffset: 85px;
}
#svg .bar.bar-2 {
  stroke-dashoffset: 150px;
}
#svg .bar.bar-3 {
  stroke-dashoffset: 250px;
}

.cont {
  font-family: SourceSansPro, serif;
  font-size: 20px;
  font-weight: 700;
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  border-radius: 100%;
  position: relative;

}
.cont::after {
  color: #81868e;
  position: absolute;
  display: block;
  height: 200px;
  width: 200px;
  top: 0;
  text-align: center;
  content: "87%";
  border-radius: 100%;
  line-height: 5;
  font-size: 2em;



}


//progress bar end










@media only screen and (min-width: 1024px) {
  .service__content {
    width: 50%;
  }

}
@media only screen and(orientation: landscape) and (min-width: 1024px) {
  .service__content {
    width: 50%;
  }

}
/*  Tablets in portrait mode, large display smartphones landscape mode */

@media only screen and (min-width: 768px) and (max-width: 1023px){

}
@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1023px)   {

}
/*  Smartphones in landscape mode */
@media only screen and (min-width: 768px) and (max-width: 1023px)   {
  .service__content:nth-of-type(2) {
    display: none;
  }
}
@media only screen and (orientation: landscape) and (min-width: 421px) and (max-width: 767px) {
  .service__content:nth-of-type(2) {
    display: none;
  }
}
@media only screen and (min-width: 421px) and (max-width: 767px) {
  .service__content:nth-of-type(2) {
    display: none;
  }
}
/*  Smartphones in portrait mode  */

@media only screen and (max-width: 420px) {
  .service__icons-wrapper {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
  }
  .service__content:nth-of-type(1){
    flex-direction: column;
  }
  .service__content:nth-of-type(2) {
    display: none;
  }
  .service__text-content {
    margin-left: 0;
  }
  .service__icon:nth-of-type(1) {
    margin-left: 0;
  }
  .service__icon:nth-of-type(4) {
      margin-right: 0;
    }
}

